<div class="main-navbar-sidenav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button  *ngIf='isUserAuthenticated' mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
      <h1>AKMS</h1>
      <div *ngIf='isUserAuthenticated' clas = "main-buttons">
        <a mat-button [routerLink]="['/lessons']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Pamokos </a>
        <a mat-button [routerLink]="['/tasks']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Užduotys </a>
        <a  *ngIf ="role === 'Mokinys'" mat-button [routerLink]="['/dictionary']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Žodynėlis </a>
        <a mat-button [routerLink]="['/rule']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Taisyklės </a>
      </div>
      <span class="menu-spacer"></span>
        <div class="auth-buttons">
          <a  *ngIf='!isUserAuthenticated' mat-button [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Prisijungimas </a>
        </div>
        <button *ngIf='isUserAuthenticated' mat-button [matMenuTriggerFor]="beforeMenu">
          <span  class = "role-username">
            {{userName}}
          </span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="'/updateProfile'" >Redaguoti profilį</button>
          <button mat-menu-item (click)="logout()">
            Atsijungti
          </button>
        </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>
  <router-outlet></router-outlet>

  <!-- <div class = "sidenav-tasks">
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>

          <a mat-list-item [routerLink]="['/lessons']"routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Pamokos </a>
          <a mat-list-item [routerLink]="['/tasks']"routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Užduotys </a>
          <a *ngIf = "role === 'Mokinys'" mat-list-item [routerLink]="['/dictionary']"routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Žodynėlis </a>
          <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="sidenav-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div> -->
