<div class="main-navbar-sidenav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>AKMS</h1>
      <div clas = "main-buttons">
        <a mat-button [routerLink]="['/tasks']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Užduotys </a>
        <a mat-button [routerLink]="['/lessons']"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Pamokos </a>
        <a mat-button [routerLink]="'/'"> Taisyklės </a>
      </div>
      <span class="menu-spacer"></span>
        <div class="auth-buttons">
          <a  *ngIf='!isUserAuthenticated' mat-button [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Prisijungimas </a>
          <span *ngIf='isUserAuthenticated' class = "role-text">{{role}}: </span>
          <span *ngIf='isUserAuthenticated' class = "role-username">{{userName}}</span>
          <a *ngIf='isUserAuthenticated' mat-button (click)="logout()"> Logout </a>
        </div>
    </mat-toolbar-row>

  </mat-toolbar>

  <div class = "sidenav-tasks">
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>

          <a mat-list-item [routerLink]="'/tasks'"> Užduotys </a>
          <a mat-list-item [routerLink]="'/'"> Pamokos Account </a>
          <a mat-list-item [routerLink]="'/'"> Taisyklės </a>
          <a mat-list-item [routerLink]="'/'"> Mokiniai </a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="sidenav-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>
