<div class = "lesson-view-content">
  <h1>Pamokos peržiūra</h1>
  <div class = "lesson-form">
    <mat-card class="lesson-card-content">
      <mat-card-content class = "lesson-form-content">
        <div class = "lesson-title-row">
          <div>
            <h2>{{ lesson ? lesson.lessonTitle : ""}}</h2>
            <h4 *ngIf="this.lessonStudents!.length > 0">Iš viso pamoką atliko {{completedCount()}} iš {{this.lessonStudents!.length}}</h4>
          </div>

          <div *ngIf = "userRole === 'Mokytojas'" class="lesson-table-actions">
            <div class="lesson-table-action">
            <a mat-list-item> <mat-icon (click)="updateOpen()" class = "lesson-card-edit">edit</mat-icon> </a>
            </div>
            <div *ngIf = "userRole === 'Mokytojas'" class="lesson-table-action">
            <a mat-list-item><mat-icon  (click)="onDelete(lesson.lessonId!)">delete</mat-icon></a>
            </div>
          </div>
        </div>
        <div class="pre-lesson-content">
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div  *ngIf = "userRole === 'Mokytojas'" class = "dialog-buttons">
    <div class = "dialog-button">
      <button mat-raised-button color="primary" (click)="openDialog()">Priskirti užduotis</button>
    </div>
    <div class = "dialog-button">
      <button mat-raised-button color="primary" (click)="openStudentDialog()">Priskirti mokinius</button>
    </div>
    <div class = "dialog-button">
      <button mat-raised-button color="primary" (click)="openRulesDialog()">Priskirti taisykles</button>
    </div>
  </div>
  <div class = "lesson-form" *ngIf="update">
    <mat-card class="lesson-card">
        <mat-card-content class = "lesson-form-content">
          <form [formGroup]="lessonUpdatingForm" (ngSubmit)="onUpdate()" >
            <div >
              <mat-form-field class="lesson-form-field full-width">
                <mat-label>Pamokos pavadinimas</mat-label>
                <input matInput formControlName="lessonTitle" type="text" placeholder="Užduoties pavadinimas"  name="lessonTilte" required>
              </mat-form-field>
            </div>
            <div class="lesson-form-buttons">
              <div class="lesson-form-button">
                <button [disabled]="!lessonUpdatingForm!.valid" type="submit" mat-raised-button color="primary">Atnaujinti</button>
              </div>
              <div class="lesson-form-button">
                <button mat-raised-button color="warn" (click)="cancelLessonUpadate()">{{"Atšaukti"}}</button>
              </div>
            </div>
          </form>
        </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h3 >Pamokos užduotys</h3>
    <div class="mat-elevation-z8">
      <mat-form-field appearance="standard">
        <mat-label>Ieškoti</mat-label>
        <input matInput (keyup)="applyFilter(dataSourceTasks, $event)" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSourceTasks!">
        <ng-container matColumnDef="Nr" class = "table-row-position">
          <th mat-header-cell *matHeaderCellDef> Nr </th>
          <td mat-cell *matCellDef="let row"> {{dataSourceTasks!.filteredData.indexOf(row) + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="Task">
          <th mat-header-cell *matHeaderCellDef> Užduoties pavadinimas </th>
          <td mat-cell *matCellDef="let row"> {{row.taskTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="TaskContent">
          <th mat-header-cell *matHeaderCellDef> Užduotis </th>
          <td mat-cell *matCellDef="let row"> {{row.taskContent}} </td>
        </ng-container>

        <ng-container matColumnDef="Mistakes">
          <th mat-header-cell *matHeaderCellDef> Per visą laiką suklysta .. kartų </th>
          <td mat-cell *matCellDef="let row"> {{row.mistakesCount}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete" >
          <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" >
              <div class = "task-delete">
                <mat-icon class = "task-delete-icon" (click)="removeTask(row.taskId)">close</mat-icon>
              </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> Nėra duomenų </td>
          <!-- <td class="mat-cell" colspan="4"> Nėra duomenų "{{input.value}}"</td> -->
        </tr>
      </table>
      <mat-paginator
                  [length]="dataSourceTasks ? dataSourceTasks.data.length : 0"
                  showFirstLastButtons
                  [pageSizeOptions]="[5, 10, 25]"
                  aria-label="Pasirinkite puslapį">
      </mat-paginator>

    </div>
  </div>

  <div class="lesson-students-div" *ngIf = "userRole === 'Mokytojas'">
    <h3>Pamokos mokiniai</h3>

    <div class="mat-elevation-z8">
      <mat-form-field class = "search-input" appearance="standard">
      <mat-label>Ieškoti</mat-label>
      <input matInput (keyup)="applyFilter(dataSourceStudent, $event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceStudent!">
        <ng-container matColumnDef="Nr" class = "table-row-position">
          <th mat-header-cell *matHeaderCellDef> Nr </th>
          <td mat-cell *matCellDef="let row"> {{dataSourceStudent!.filteredData.indexOf(row) + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="Student">
          <th mat-header-cell *matHeaderCellDef> Mokinys </th>
          <td mat-cell *matCellDef="let row"> {{row.FirstName}} {{row.LastName}}</td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Atlikimo būsena </th>
          <td mat-cell *matCellDef="let row"> {{row.status == 2 ? "Atliko" : "Neatliko"}} </td>
        </ng-container>

        <ng-container  matColumnDef="Delete" >
          <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" >
              <div class = "task-delete">
                <mat-icon class = "task-delete-icon" (click)="removeStudent(row.Id)">close</mat-icon>
              </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStudent"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStudent;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> Nėra duomenų </td>
          <!-- <td class="mat-cell" colspan="4"> Nėra duomenų "{{input.value}}"</td> -->
        </tr>
      </table>

      <mat-paginator
                  #paginator [length]="dataSourceStudent ? dataSourceStudent.data.length : 0"
                  showFirstLastButtons
                  [pageSizeOptions]="[5, 10, 25]"
                  aria-label="Pasirinkite puslapį">
      </mat-paginator>
    </div>
  </div>
  <div class="lesson-students-div" *ngIf = "userRole === 'Mokytojas'">
    <h3>Pamokos taisyklės</h3>

    <div class="mat-elevation-z8">
      <mat-form-field class = "search-input" appearance="standard">
      <mat-label>Ieškoti</mat-label>
      <input matInput (keyup)="applyFilter(dataSourceRule, $event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceRule!">
        <ng-container matColumnDef="Nr" class = "table-row-position">
          <th mat-header-cell *matHeaderCellDef> Nr </th>
          <td mat-cell *matCellDef="let row"> {{dataSourceRule!.filteredData.indexOf(row) + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="Rule">
          <th mat-header-cell *matHeaderCellDef> Taisyklės pavadinimas </th>
          <td mat-cell *matCellDef="let row"> {{row.ruleTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="RuleContent">
          <th mat-header-cell *matHeaderCellDef> Taisyklė </th>
          <td mat-cell *matCellDef="let row"> {{row.ruleContent}} </td>
        </ng-container>

        <ng-container  matColumnDef="Delete" >
          <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" >
              <div class = "task-delete">
                <mat-icon class = "task-delete-icon" (click)="removeRule(row.RuleId)">close</mat-icon>
              </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRules"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRules;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> Nėra duomenų </td>
          <!-- <td class="mat-cell" colspan="4"> Nėra duomenų "{{input.value}}"</td> -->
        </tr>
      </table>

      <mat-paginator
                  #paginator [length]="dataSourceRule ? dataSourceRule.data.length : 0"
                  showFirstLastButtons
                  [pageSizeOptions]="[5, 10, 25]"
                  aria-label="Pasirinkite puslapį">
      </mat-paginator>
    </div>
  </div>

